@import "./variables";

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  // background: rgba(163, 163, 163, 0.4);
  border-radius: 7px;
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgb(40 57 86 / 100%);
  border-radius: 7px;
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(163 163 163 / 40%);
}
